{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Clientes{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <div class="heading">
        <a href="{{ url_for('customer.add') }}" class="add-button">
            <input type="button" value="Añadir Cliente">
        </a>
    </div>
    <div class="container">
        <table>
            <thead>
                {% for head in customer_heads %}
                <th>
                    {{ customer_heads[head] }}
                </th>
                {% endfor %}
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    {% for head in customer_heads %}
                    <td>
                        {% if head == "customer_name" %}
                        <a href="{{ url_for('customer.update', id=customer.id) }}">
                            {{ customer[head] }}
                        </a>
                        {% else %}
                        {{ customer[head] }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}