{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Editar Cliente{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for head in customer_heads %}
    <label for="{{ head }}">{{ customer_heads[head] }}:</label>
    <input name="{{ head }}" id="{{ head }}" value="{{ customer[head] }}">
    {% endfor %}
    <input type="submit">
    <a href="{{ url_for('customer.delete', id=customer.id) }}">
        <input type="button" value="Delete" onclick="return confirm('¿Estás seguro?')">
    </a>
</form>
</form>
{% endblock %}