{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Añadir Gasto {% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for head in expense_heads %}
    <label for="{{ head }}">{{ expense_heads[head] }}</label>
    {% if head == "type_id" %}
    <div class="add-expense-type-dropdown">
        {% include 'expense/type-dropdown.html' %}
        <a href="{{ url_for('expense.add_type') }}">
            <input type="button" value="Añadir Tipo">
        </a>
    </div>
    {% else %}
    <input name="{{ head }}"
    placeholder="Requerido"
    {% if head == 'quantity' %}
    type="number"
    {% elif head == "cost" %}
    type="number"
    step=".01"
    {% endif %}
    id="{{ head }}" value="{{ form[head] }}">
    {% endif %}
    {% endfor %}
    <input type="submit" value="Añadir">
</form>
{% endblock %}
