<datalist id="expenses">
    {% if warehouse %}
    {% for expense in warehouse.expenses %}
    <option>{{ expense.concept }}</option>
    {% endfor %}
    {% else %}
    {% for concept in get_autocomplete_data("expenses", "concept") %}
    <option>{{ concept }}</option>
    {% endfor %}
    {% endif %}
</datalist>
<form class="search-bar" method='post' autocomplete="off">
    <input name="search_term"
        placeholder="Buscar gasto..."
        list="expenses">
    <button type="submit"><i class="fa fa-search"></i></button>
    {% include 'expense/type-dropdown.html' %}
</form>