{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Añadir Producto{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for head in product_heads %}
    {% if head != "price" and head != "description" or product and not product.id %}
    <label for="{{ head }}">{{ product_heads[head] }}</label>
    <input name="{{ head }}"
    {% if head == 'quantity' %}
    type="number"
    {% elif head == "price" or head == "cost" %}
    type="number"
    step=".01"
    {% if head == "description" %}
    placeholder="Opcional"
    {% else %}
    placeholder="Requerido"
    {% endif %}
    id="{{ head }}" value="{{ form[head] }}">
    {% endif %}
    {% endfor %}
    <input type="submit" value="Aceptar">
</form>
{% endblock %}