{% extends "base.html" %}

{% block header %}
    <h1>
        {% block title %}
        Inventario de almacén {{ warehouse.name }}
        {% endblock %}
    </h1>
    <a href="{{ url_for('warehouse.update', id=warehouse.id) }}">
        <input type="button" value="Editar">
    </a>
{% endblock %}

{% block content %}
<div class="warehouse-inventory">
    <div class="warehouse-inventory-buttons">
        <button onclick="displayWarehouseInventory(event, 'products')"
            {% if selected_inventory == "products" %}
            style="background-color: lightgray;"
            {% endif %}>
            Productos
        </button>
        <button onclick="displayWarehouseInventory(event, 'expenses')"
            {% if selected_inventory == "expenses" %}
            style="background-color: lightgray;"
            {% endif %}>
            Gastos
        </button>
    </div>
    <div id="warehouse-products" class="warehouse-inventory-content"
        {% if selected_inventory == "products" %}
        style="display: block;"
        {% endif %}>
        {% include 'product/products-body.html' %}
    </div>
    <div id="warehouse-expenses" class="warehouse-inventory-content"
        {% if selected_inventory == "expenses" %}
        style="display: block;"
        {% endif %}>
        {% include 'expense/expenses-body.html' %}
    </div>
</div>
{% endblock %}