<table>
    <thead>
        {% for head in warehouse_heads %}
        <th>
            {{ warehouse_heads[head] }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for warehouse in warehouses %}
        <tr>
            {% for head in warehouse_heads %}
            <td>
                {% if head == "address" %}
                <a href="{{ url_for('warehouse.inventory', id=warehouse.id) }}">
                    {{ warehouse[head] }}
                </a>
                {% else %}
                {{ warehouse[head] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>