<div class="user-production">
    {% for head in production_heads %}
    <div {% if request.endpoint == "user.profile" %}
        style="border-bottom: 1px solid white;"
        {% else %}
        style="border-bottom: 1px solid black;"
        {% endif %}>
        <strong>{{ production_heads[head] }}</strong>
    </div>
    {% endfor %}
    {% for production in user_production %}
    {% for head in production_heads %}
    <div {% if request.endpoint == "user.profile" %}
        style="border-bottom: 1px solid white;"
        {% else %}
        style="border-bottom: 1px solid black;"
        {% endif %}>
        {% if head == "date" %}
        {{ format_datetime(production[head]) }}
        {% else %}
        {{ production[head] }}
        {% endif %}
    </div>
    {% endfor %}
    {% endfor %}
</div>