<div class="production-summary">
    <div>
        <strong>Producción de la semana</strong>
        <div class="overlay-dropdown">
            <button class="overlay-dropdown-button icon-button"
                onclick="displayOverlayDropdown(event)">
                <i class="fa fa-caret-down" onclick="displayOverlayDropdown(event)"></i>
            </button>
            <div class="overlay-dropdown-content">
                {% include "production/production-table.html" %}
            </div>
            <div class="overlay-dropdown-background" onclick="hideOverlayDropdown(event)"></div>
        </div>
        <a href="{{ url_for('production.production') }}">
            <button class="production-breakdown-button">
                Desgloce
            </button>
        </a>
    </div>
    <div>
        <a href="{{ url_for('production.register') }}">
            <button class="add-production-button">
                Registrar Producción
            </button>
        </a>
    </div>
</div>
