{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Assignar Actividad{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="assign-activity">
        {% for head in activity_heads %}
        <div>
            <strong>{{ activity_heads[head] }}:</strong>
        </div>
        <div>
            <input name="{{ head }}" value="{{ form[head] }}"
            {% if head == "title" %}
            placeholder="Requerido"
            {% else %}
            placeholder="Opcional"
            {% endif %}
            {% if head == "due_date" %}
            type="date"
            {% endif %}> 
        </div>
        {% endfor %}
    </div>
    <input type="submit" value="Asignar">
</form>
{% endblock %}