{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Perfil de {{ user.username }}{% endblock %}</h1>
{% if g.user.has_view_permissions('user.update') %}
<a href="{{ url_for('user.update', id=user.id) }}">
    <input type="button" value="Editar">
</a>
{% endif %}
{% endblock %}

{% block content %}
<div>
    <div class="user-profile-summary">
        {% include "user/production/production-summary.html" %}
        {% include "user/activity/activity-summary.html" %}
    </div>
    {% include "user/activity/week-activities.html" %}
</div>
{% endblock %}