{% extends "base.html" %}

{% block header %}
<h1>{%block title %}{{ user.username }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="user">
    {% for head in user_heads %}
    <label for="{{ head }}">{{ user_heads[head] }}:</label>
    <input name="{{ head }}" id="{{ head }}"
        {% if head == "salary" %}
        type="number"
        step=".01"
        {% endif %}
        value="{{ user[head] }}">
    {% endfor %}
    {% include "user/permissions-dropdown.html" %}
    <div class="change-password-link">
        <a href="{{ url_for('user.update_password', id=user.id) }}">
            Cambiar contraseña
        </a>
    </div>
    <input type="submit" value="Guardar Cambios">
    {% if not user.is_admin() or g.user.is_dev() %}
    <a href="{{ url_for('user.delete', id=user.id) }}">
        <input type="button" value="Delete" onclick="return confirm('¿Estás seguro?')">
    </a>
    {% endif %}
</form>

{% endblock %}