{% extends "base.html" %}

{% block header %}
<h1>{%block title %}{{ user.username }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="user">
    {% for head in user_heads %}
    <input name="{{ head }}" id="{{ head }}"
    {% if head == "password" %}
    type="password"
    {% endif %}
    value="{{ user[head] }}">
    {% endfor %}
    {% include "user/permissions-dropdown.html" %}
    <input type="submit" value="Guardar Cambios">
    <a href="{{ url_for('user.delete', id=user.id) }}">
        <input type="button" value="Delete" onclick="return confirm('¿Estás seguro?')">
    </a>
</form>

{% endblock %}