<table>
    <thead>
        {% for head in user_heads %}
        <th>
            {{ user_heads[head] }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for user in users %}
        {% if not user.is_dev() or g.user.is_dev() %}
        {% if not user.is_admin() or g.user.is_admin() %}
        <tr>
            {% for head in user_heads %}
            <td>
                {% if head == "username" %}
                <a href="{{ url_for('user.profile', id=user.id) }}">
                    {{ user[head] }}
                </a>
                {% else %}
                {{ user[head] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>