<div>
    <div class="week-board-head">
        <a href="{{ url_for('user.assign_activity', id=user.id) }}">
            <input type="button" value="Añadir Actividad">
        </a>
        <a href="{{ url_for('order.assign') }}">
            <input type="button" value="Asignar Order">
        </a>
        <form method="post">
            <input name="selected_week" type="week" value="{{ selected_week_str }}">
            <input type="submit" value="Seleccionar">
        </form>
    </div>
    <div class="week-board-body">
        {% for weekday in weekday_heads %}
        <div class="weekday-head">
            {{ weekday_heads[weekday] }}
        </div>
        {% endfor %}
        {% for weekday in weekday_heads %}
        <a href="{{ url_for('user.day_activities',
            id=user.id, date_str=weekday_dates[weekday].strftime('%Y-%m-%d')) }}">
            <div class="weekday">
                {% for activity in week_activities[weekday] %}
                <div>
                    {{ activity.title }}
                </div>
                {% endfor %}
            </div>
        </a>
        {% endfor %}
    </div>
</div>