<label for="permissions-checkbox">Permisos Requeridos:</label>
<div id="permissions-checkbox" class="permissions-checkbox">
    {% for permission in permissions %}
    {% if not permission.is_admin() and not g.user.is_admin() or g.user.is_admin() %}
    {% if not permission.is_dev() or g.user.is_dev() %}
    <div>
        <input type="checkbox" 
            name="{{ permission.permission_name }}" 
            value="{{ permission.id }}"
            {% if view and permission in view.permissions %}
            checked
            {% endif %}>
    </div>
    <div>
        <strong>
            {{ permission.permission_name }}
        </strong>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>