<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - EnGo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-overlay-dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-side-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-searchbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-activity.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-user-production.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-receipt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-expense.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-product.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-config-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-warehouse.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/overlay-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/side-menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/warehouse-inventory.js') }}"></script>
</head>

{% if receipt and not receipt.done or not receipt %}
{% include "nav-bar.html" %}
<header>
    {% block header %}{% endblock %}
</header>
{% endif %}
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
<section>
    {% block content %}{% endblock %}
</section>

</html>
