<nav>
    {% if g.user %}
    <div>
        <a href="{{ url_for('home.main_page' ) }}">
            EnGo
        </a>
        <div class="dropdown">
            <button class="dropbtn"> 
                Contaduría
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('expense.expenses') }}">Gastos</a>
                <a href="{{ url_for('product.products') }}">Productos</a>
                <a href="{{ url_for('customer.customers') }}">Clientes</a>
                <a href="{{ url_for('receipt.add') }}">Añadir Recibo</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                Dropdown 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="right-side">
        {% include 'search-bar.html' %}
        <a href="{{ url_for('user.logout') }}">
            Logout
        </a>
        {% if g.user.is_admin() and view %}
        {% if request.endpoint != "view.update" %}
        <a href="{{ url_for('view.update', id=view.id ) }}" class="gear-icon">
            <i class="fa fa-gear" style="font-size: 1.6em;"></i>
        </a>
        {% endif %}
        {% endif %}
    </div>
    {% endif %}
</nav>