<nav>
    <a href="{{ url_for('home.main_page') }}">
        Pagina Principal
    </a>
    {% if g.user %}
    {% if g.user.has_permission(request.endpoint) %}
    <a href="{{ url_for('admin.main_page') }}">
        Admin Page
    </a>
    <a href="{{ url_for('auth.register') }}">
        Registrar Empleado
    </a>
    <a href="{{ url_for('customer.customers') }}">
        Clientes
    </a>
    {% endif %}
    <a href="{{ url_for('auth.logout') }}">
        Logout
    </a>
    {% else %}
    <a href="{{ url_for('auth.login') }}">
        Login
    </a>
    {% endif %}
</nav>