<datalist id="all-search-terms">
    {% if g.user.has_view_permissions("user.update") %}
    {% for username in get_autocomplete_data("users", "username") %}
    <option>{{ username }}</option>
    {% endfor %}
    {% endif %}
    {% if g.user.has_view_permissions("customer.update") %}
    {% for head in customer_autocomplete_heads %}
    {% for customer_data in get_autocomplete_data("customers", head) %}
    <option>{{ customer_data }}</option>
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% if g.user.has_view_permissions("view.update") %}
    {% for view_name in get_autocomplete_data("views", "view_name") %}
    <option value="{{ view_heads[view_name] }}">{{ view_name }}</option>
    {% endfor %}
    {% endif %}
    {% if g.user.has_view_permissions("product.update") %}
    {% for product_name in get_autocomplete_data("products", "code") %}
    <option>{{ product_name }}</option>
    {% endfor %}
    {% endif %}
</datalist>
<form class="search-bar" action="{{ url_for('global_context.search_bar') }}" autocomplete="off">
    <input name="search_term"
        placeholder="¿Qué estás buscando?"
        list="all-search-terms">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>