<datalist id="all-search-terms">
    {% if g.user.has_permission("user.update") %}
    {% for username in autocomplete.get_data("users", "username") %}
    <option>{{ username }}</option>
    {% endfor %}
    {% endif %}
    {% if g.user.has_permission("customer.update") %}
    {% for customer_name in autocomplete.get_data("customers", "customer_name") %}
    <option>{{ customer_name }}</option>
    {% endfor %}
    {% for address in autocomplete.get_data("customers", "address") %}
    <option>{{ address }}</option>
    {% endfor %}
    {% for phone in autocomplete.get_data("customers", "phone") %}
    <option>{{ phone }}</option>
    {% endfor %}
    {% for rfc in autocomplete.get_data("customers", "rfc") %}
    <option>{{ rfc }}</option>
    {% endfor %}
    {% endif %}
    {% if g.user.has_permission("view.update") %}
    {% for view_name in autocomplete.get_data("views", "view_name") %}
    <option>{{ view_name }}</option>
    {% endfor %}
    {% endif %}
    {% if g.user.has_permission("product.update") %}
    {% for product_name in autocomplete.get_data("products", "code") %}
    <option>{{ product_name }}</option>
    {% endfor %}
    {% endif %}
</datalist>
<form class="search-bar" action="{{ url_for('global_context.search_bar') }}" autocomplete="off">
    <input name="search_term"
        placeholder="¿Qué estás buscando?"
        list="all-search-terms">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>