<div class="side-menu">
    <button class="side-menu-button">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="side-menu-content">
        <a href="{{ url_for('home.main_page' ) }}">
            EnGo
        </a>
        <a href="{{ url_for('calendar.calendar' ) }}">
            Calendario
        </a>
        {% if g.user.has_view_permissions("admin.main_page") %}
        <a href="{{ url_for('admin.main_page' ) }}">
            Admin
        </a>
        {% endif %}
        {% if g.user.has_view_permissions('receipt.add') %}
        <div class="links-dropdown">
            <button class="links-dropdown-button"> 
                Contaduría
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="links-dropdown-content">
                <a href="{{ url_for('expense.expenses') }}">Gastos</a>
                <a href="{{ url_for('customer.customers') }}">Clientes</a>
                <a href="{{ url_for('receipt.receipts') }}">Recibos</a>
                <a href="{{ url_for('receipt.add') }}">Añadir Recibo</a>
            </div>
        </div>
        {% endif %}
        {% if g.user.has_view_permissions('user.users') %}
        <div class="links-dropdown">
            <button class="links-dropdown-button"> 
                Recursos Humanos 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="links-dropdown-content">
                <a href="{{ url_for('user.users') }}">Empleados</a>
                <a href="{{ url_for('user.register') }}">Añadir Empleado</a>
            </div>
        </div>
        {% endif %}
        {% if g.user.has_view_permissions('warehouse.warehouses') %}
        <div class="links-dropdown">
            <button class="links-dropdown-button"> 
                Almacén
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="links-dropdown-content">
                {% for warehouse in warehouses %}
                <a href="{{ url_for('warehouse.inventory', id=warehouse.id) }}">
                    {{ warehouse.address }}
                </a>
                {% endfor %}
                {% if g.user.has_view_permissions('warehouse.add') %}
                <a href="{{ url_for('warehouse.add') }}">Añadir Almacén</a>
                {% endif %}
                <a href="{{ url_for('warehouse.warehouses') }}">Todos</a>
            </div>
        </div>
        {% endif %}
        {% if g.user.is_admin() and view %}
        <div class="links-dropdown">
            <button class="links-dropdown-button"> 
                Ajustes
                <i class="fa fa-gear" style="font-size: 1em;"></i>
            </button>
            <div class="links-dropdown-content">
                {% include "view/update.html" %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="side-menu-background"></div>
</div>
