{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Asignar Orden{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for head in order_heads %}
    {% if head == "user_id" %}
    <strong>{{ order_heads[head] }}:</strong>
    {% include "order/users-dropdown.html" %}
    {% elif head != "status" %}
    <strong>{{ order_heads[head] }}:</strong>
    <input name="{{ head }}" value="{{ request.form[head] }}"
    {% if head == "title" %}
    placeholder="Requerido"
    {% else %}
    placeholder="Opcional"
    {% endif %}
    {% if head == "due_date" %}
    type="date"
    min="{{ min_date }}"
    {% endif %}> 
    {% endif %}
    {% endfor %}
    <input type="submit" value="Asignar">
</form>
{% endblock %}