{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Asignar Orden{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="assign-order">
        {% for head in order_heads %}
        {% if head != "status" %}
        <div>
            <strong>{{ order_heads[head] }}:</strong>
        </div>
        <div>
            <input name="{{ head }}" value="{{ request.form[head] }}"
            {% if head == "title" %}
            placeholder="Requerido"
            {% else %}
            placeholder="Opcional"
            {% endif %}
            {% if head == "due_date" %}
            type="date"
            min="{{ min_date }}"
            {% endif %}> 
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <input type="submit" value="Asignar">
</form>
{% endblock %}