<select name="status" id="status">
    <option
        {% if order.status == "Pendiente" %}
        style="color: orange;"
        {% elif order.status == "Completada" %}
        style="color: green;"
        {% elif order.status == "Cancelada" %}
        style="color: red;"
        {% endif %}>
        {{ order.status }}
    </option>
    {% for status in order_status_options %}
    {% if status != order.status %}
    <option
        {% if status == "Pendiente" %}
        style="color: orange;"
        {% elif status == "Completada" %}
        style="color: green;"
        {% elif status == "Cancelada" %}
        style="color: red;"
        {% endif %}>
        {{ status }}
    </option>
    {% endif %}
    {% endfor %}
</select>