{% extends "base.html" %}

{% block header %}
<h1>{%block title %}Registrar Empleado{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="user">
    {% for head in user_heads %}
    {% if head == "password" %}
    {% include "user/auth/password-fields.html" %}
    {% else %}
    <input name="{{ head }}" id="{{ head }}" value="{{ form[head] }}"
    {% if head == "salary" %}
    type="number"
    step=".01"
    {% endif %}
    placeholder="{{ user_heads[head] }}...">
    {% endif %}
    {% endfor %}
    {% include "user/permissions-dropdown.html" %}
    <input type="submit" value="Registrar">
</form>
{% endblock %}