{% if not receipt.done %}
<tr class="add-product">
    {% for head in product_heads %}
    <td class="{{ head }}">
        {% if head != "total" and head != "quantity" %}
        <input name="{{ head }}" id="{{ head }}"
        {% if head == "description" %}
        placeholder="Opcional"
        {% else %}
        placeholder="Requerido"
        {% endif %}
        {% if head == "price" %}
        type="number"
        {% endif %}
        value="{{ form[head] }}" list="{{ head }}s">
        {% endif %}
    </td>
    {% endfor %}
    <td class="delete-button">
        
    </td>
</tr>
{% endif %}