<datalist id="codes">
    {% for code in get_autocomplete_data("products", "code") %}
    <option>{{ code }}</option>
    {% endfor %}
</datalist>
{% for head in product_heads %}
    <div>
        {% if head == "code" or head == "quantity" or head == "unit" %}
        <input value="{{ form[head] }}" name="{{ head }}"
        {% if head == "quantity" %}
        type="number"
        {% elif head == "code" %}
        list="codes"
        placeholder="Buscar"
        {% endif %}
        >
        {% endif %}
    </div>
{% endfor %}