{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Añadir Recibo{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for head in customer_heads %}
<datalist id="{{ head }}s">
    {% for data in get_autocomplete_data("customers", head) %}
    <option>{{ data }}</option>
    {% endfor %}
</datalist>
{% endfor %}
<form method="post" autocomplete="off" class="add-receipt container">
    {% for head in customer_heads %}
    <div>
        <strong>{{ customer_heads[head] }}:</strong>
    </div>
    <div>
        <input name="{{ head }}" id="{{ head }}" list="{{ head }}s"
            placeholder="Busca a un cliente por su {{ customer_heads[head] }} o crea uno nuevo..." 
            value="{{ form[head] }}">
    </div>
    {% endfor %}
    <div class="add-receipt-submit">
        <input type="submit" value="Aceptar">
    </div>
</form>
{% endblock %}