{% extends "receipt/base.html" %}

{% block content %}
{% for head in customer_heads %}
<datalist id="{{ head }}s">
    {% for data in autocomplete.get_data("customers", head) %}
    <option>{{ data }}</option>
    {% endfor %}
</datalist>
{% endfor %}
<form method="post" autocomplete="off" class="add-receipt">
    <table>
        {% for head in customer_heads %}
        <tr>
            <td class="label">
                <strong>{{ customer_heads[head] }}:</strong>
            </td>
            <td>
                <input name="{{ head }}" id="{{ head }}" list="{{ head }}s"
                    placeholder="Busca a un cliente por su {{ customer_heads[head] }} o crea uno nuevo..." 
                    value="{{ form[head] }}">
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="add-receipt-submit">
        <input type="submit" value="Aceptar">
    </div>
</form>
{% endblock %}