<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt - EnGo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-receipt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-searchbar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% if receipt %}
{% if not receipt.done %}
{% include "nav-bar.html" %}
{% endif %}
{% else %}
{% include "nav-bar.html" %}
{% endif %}
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
<section>
    {% block content %}{% endblock %}
</section>

</html>