{% for sold_product in receipt.sold_products %}
<tr>
    {% for head in product_heads %}
    <td class="{{ head }}">
        {% if receipt.done %}
        {% if head == "code" or head == "description" %}
        {{ sold_product.product[head] }}
        {% elif head == "total" or head == "price" %}
        {{ format_price(sold_product[head]) }}
        {% else %}
        {{ sold_product[head] }}
        {% endif %}
        {% else %}
        {% if head == "code" or head == "description" %}
        <input name="{{ sold_product.get_unique_key(head) }}" 
            id="{{ sold_product.get_unique_key(head) }}" value="{{ sold_product.product[head] }}">
        {% elif head == "total" %}
        {{ format_price(sold_product[head]) }}
        {% else %}
        <input name="{{ sold_product.get_unique_key(head) }}"
            {% if head == 'quantity' or head == 'price' %}
            type="number"
            {% endif %}
            id="{{ sold_product.get_unique_key(head) }}" value="{{ sold_product[head] }}">
        {% endif %}
        {% if head == "total" %}
        <a href="{{ url_for('receipt.remove_product', id=sold_product.id) }}">
            X
        </a>
        {% endif %}
        {% endif %}
    </td>
    {% endfor %}
</tr>
{% endfor %}
{% if not receipt.done %}
<tr>
    {% for head in product_heads %}
    <td class="{{ head }}">
        {% if head != "total" and head != "quantity" %}
        <input name="{{ head }}" id="{{ head }}" value="{{ form[head] }}">
        {% endif %}
    </td>
    {% endfor %}
</tr>
{% endif %}
{% for _ in empty_spaces %}
<tr>
    {% for head in product_heads %}
    <td class="{{ head }}">
        <br>
    </td>
    {% endfor %}
</tr>
{% endfor %}