{% if not receipt.done %}
{% if head == "total" %}
{{ format_price(product[head]) }}
{% else %}
<input name="{{ product.get_unique_key(head) }}"
    id="{{ product.get_unique_key(head) }}"
    {% if head == 'quantity' %}
    type="number"
    {% elif head == "price" %}
    type="number"
    step=".01"
    {% endif %}
    value="{{ product[head] }}">
{% endif %}
{% else %}
{% if head == "total" or head == "price" %}
{{ format_price(product[head]) }}
{% else %}
{{ product[head] }}
{% endif %}
{% endif %}