<tr>
    <td class="buttons" rowspan="3">
        {% if receipt.done %}
        <p>
            POR EL PRESENTE PAGARÉ RECONOZCO Y ME OBLIGO A PAGAR A
            <strong>ENRIQUE GÓMEZ ESPINOZA</strong> EN ESTA CIUDAD O 
            EN CUALQUER OTRA QUE ME REQUIERA.
        </p>
        {% else %}
        <input type="submit" value="Guardar Cambios">
        <a href="{{ url_for('receipt.done', id=receipt.id) }}">
            <input type="button" value="Finalizar">
        </a>
        {% endif %}
    </td>
    <td class="total">
        {{ format_price(receipt.total) }}
    </td>
</tr>