{% for sold_product in receipt.sold_products %}
<tr>
    {% for head in product_heads %}
    <td class="{{ head }}">
        {% include "receipt/product-field.html" %}
    </td>
    {% endfor %}
    {% if not receipt.done %}
    <td class="delete-button">
        <a href="{{ url_for('receipt.remove_product', id=sold_product.id) }}">
            <img src="{{ url_for('static', filename='images/remove.png') }}">
        </a>
    </td>
    {% endif %}
</tr>
{% endfor %}
{% include "receipt/add-product.html" %}
{% include "receipt/emtpy-spaces.html" %}