<div class="receipt-foot">
    {% if not receipt.done %}
    <input type="submit" value="Guardar Cambios">
    <a href="{{ url_for('receipt.done', id=receipt.id) }}">
        <input type="button" value="Finalizar">
    </a>
    {% else %}
    <p>
        POR EL PRESENTE PAGARÉ RECONOZCO Y ME OBLIGO A PAGAR A
        <strong>ENRIQUE GÓMEZ ESPINOZA</strong> EN ESTA CIUDAD O 
        EN CUALQUER OTRA QUE ME REQUIERA.
    </p>
    {% endif %}
</div>
<div>
    {{ format_price(receipt.total) }}
</div>