{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Recibo {{ receipt.folio }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="flex-direction: column;">
    <form method="post" autocomplete="off" class="receipt">
        {% include "receipt/receipt-head.html" %}
        {% include "receipt/products.html" %}
        {% include "receipt/receipt-foot.html" %}
    </form>
    {% if receipt.done %}
    <form class="receipt">
        {% include "receipt/receipt-head.html" %}
        {% include "receipt/products.html" %}
        {% include "receipt/receipt-foot.html" %}
    </form>
    {% endif %}
</div>
{% endblock %}