{% if g.user.is_dev() %}
<a href="{{ url_for('post.add') }}" class="add-button">
    <input type="button" value="Añadir Post">
</a>
{% endif %}
{% for post in posts %}
<div class="post container">
    <div>
        <h1>
            {% if g.user.is_dev() %}
            <a href="{{ url_for('post.update', id=post.id) }}">
                {{ post.title }}
            </a>
            {% else %}
            {{ post.title }}
            {% endif %}
        </h1>
        {{ format_date(post.date) }}
    </div>
    <p>
        {{ post.description }}
    </p>
</div>
{% endfor %}