{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ post.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for head in post_heads %}
    <label for="{{ head }}">{{ post_heads[head] }}:</label>
    {% if head == "description" %}
    <textarea name="{{ head }}" id="{{ head }}">{{ post[head] }}</textarea>
    {% else %}
    <input name="{{ head }}" id="{{ head }}" value="{{ post[head] }}">
    {% endif %}
    {% endfor %}
    <div>
        <input type="submit" value="Guardar Cambios">
        <a href="{{ url_for('post.delete', id=post.id) }}">
            <input type="button" value="Eliminar" onclick="return confirm('¿Estas seguro?')">
        </a>
    </div>
</form>
{% endblock %}