<form method="post">
    {% include "calendar/month-dropdown.html" %}
</form>
<table class="calendar">
    <thead>
        {% for weekday in weekdays %}
        <th>
            {{ weekday }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for week in month %}
        <tr>
            {% for day in week %}
            <a href="{{ url_for('calendar.day', date_str=day.strftime('%d.%m.%Y')) }}">
                <td>
                    <div class="day-num">
                        {{ day.day }}
                    </div>
                    <div class="day-info">

                    </div>    
                </td>
            </a>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

</table>