{% include "calendar/month-dropdown.html" %}
<table class="calendar">
    <thead>
        {% for weekday in weekdays %}
        <th>
            {{ weekday }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for week in month %}
        <tr>
            {% for day in week %}
            <td>
                <a href="{{ url_for('calendar.day', date_str=day.strftime('%d.%m.%Y')) }}">
                    <div class="day-num">
                        {{ day.day }}
                    </div>
                    <div class="day-info">

                    </div>
                </a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>