{% include "calendar/calendar-selection.html" %}
<table class="calendar">
    <thead>
        {% for weekday in weekdays %}
        <th>
            {{ weekday }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for week in month %}
        <tr>
            {% for day in week %}
            <td>
                <a href="{{ url_for('calendar.day', date_str=day.strftime('%d.%m.%Y'), category=selected_category) }}">
                    <div class="day-num">
                        {{ day.day }}
                    </div>
                    <div class="day-info">
                        {% if selected_category == "all" %}
                        <ul>
                            {% for category in event_categories %}
                            {% if category != "all" and len(get_all_day_events(day)[category]) > 0 %}
                            <li>
                                {{ len(get_all_day_events(day)[category]) }} {{ event_categories[category] }}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% else %}
                        {% if len(get_all_day_events(day)[selected_category]) > 0 %}
                        <br>
                        {{ len(get_all_day_events(day)[selected_category]) }} {{ event_categories[selected_category] }}
                        {% endif %}
                        {% endif %}
                    </div>
                </a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>