{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ format_date(current_date) }}{% endblock %}</h1>
{% endblock%}

{% block content %}
<div class="day">
    <form method="post">
        {% include "calendar/events-dropdown.html" %}
    </form>
    {% if selected_category == "selecting" %}
    <h2>Aún no has seleccionado una categoría de evento</h2>
    {% else %}
    <div class="container">
        <table>
            {% if selected_category != 'all' %}
            <thead>
                <th>
                    {{ event_categories[selected_category] }}
                </th>
            </thead>
            {% endif %}
            {% for category in events %}
            {% if category != "selecting" and category != "all" %}
            <tr>
                <td>
                    <h3>{{ event_categories[category] }}</h3>
                </td>
            </tr>
            {% endif %}
            {% for event in events[category] %}
            {% if category == selected_category or selected_category == "all" %}
            <tr>
                {% include "calendar/event.html" %}
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}