{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ format_date(current_date) }}{% endblock %}</h1>
{% endblock%}

{% block content %}
<div class="day">
    <form method="post">
        {% include "calendar/events-dropdown.html" %}
    </form>
    {% if event_identifier == "selecting" %}
    <h2>Aún no has seleccionado una categoría de evento</h2>
    {% else %}
    <div class="container">
        <table>
            <thead>
                <th>
                    {{ event_types[event_identifier] }}
                </th>
            </thead>
            {% for event in events[event_identifier] %}
            <tr>
                {% include "calendar/event.html" %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}