{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ format_date(day) }}{% endblock %}</h1>
{% endblock%}

{% block content %}
<div class="day">
    {% include "calendar/events-dropdown.html" %}
    <div class="container">
        <table>
            <thead>
                <th>
                    {{ event_types[event_identifier] }}
                </th>
            </thead>
            {% for event in events[event_identifier] %}
            <tr>
                <td>
                    <a href="{{ url_for(view_name, id=event.id) }}">
                        {{ event }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}