{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Actividades para el dia {{ format_date(date) }}{% endblock %}</h1>
{% endblock%}

{% block content %}
<div>
    {% for activity in activities %}
    <div class="container activity">
        <div>
            <a href="{{ url_for('user.update_activity', activity_id=activity.id) }}">
                <strong>{{ activity.title }}</strong>
            </a>
            <strong class="activity-status" 
                {% if activity.status == "Incompleta" %}
                style="color: orange;"
                {% elif activity.status == "Completada" %}
                style="color: green;"
                {% elif activity.status == "Cancelada" %}
                style="color: red;"
                {% endif %}>
                {{ activity.status }}
            </strong>
        </div>
        <p>{{ activity.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}