nav {
    display: flex;
    overflow: hidden;
    width: 100%;
    background-color: #4189b9be;
    justify-content: space-between;
    font-size: 1.1em;
}
nav a, nav .dropdown {
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.931);
    color: rgb(255, 255, 255);
}
nav a:hover {
    background-color: #33729c9f;
}
nav div:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.931);
}

nav .search-bar {
    height: min-content;
    margin: auto;
    margin-right: 1em;
    font-size: 0.9em;
}
nav .search-bar input,
nav .search-bar button {
    border: none;
}
nav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
}
nav a, .dropdown .dropbtn {
    padding: 1em;
}
.gear-icon {
    padding: 0.8em 0.9em;
}
.right-side, .left-side {
    display: flex;
}
