.form-info-display {
    justify-content: flex-start;
}
.form-info-display strong, .form-info-display p {
    margin: 1em 0.5em;
    align-items: center;
}

.product-inventory-button {
    margin: 0 auto;
}
.product-inventory-content {
    display: none;
    position: absolute;
    color: white;
    background-color: #333;
    border-radius: 10px;
    height: fit-content;
    padding: 0 0.5em;
}
.product-inventory-content td:nth-last-child(2), .product-inventory-content td:last-child {
    border-bottom: none;
}
.product-inventory-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    top: 0;
    left: 0;
    cursor: pointer;
}
.product-profile-info {
    display: grid;
    grid-template-columns: 20% auto;
    margin-bottom: 3vh;
}
.product-profile-info div {
    margin-left: 0.5em;
    margin-bottom: 0.4em;
}

.finished-products {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5vh;
}
.finished-products div{
    padding: 0.5em;
}
.head {
    border-bottom: 1px solid black;
    font-weight: 600;
}
