* {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 100vw;
    margin: 0;
    font-size: 1.175vw;
}

header {
    display: flex;
    width: 100%;
    padding: 0.5em 0;
    align-items: center;
    justify-content: center;
    background-color:rgba(192, 192, 192, 0.87)
}

section {
    display: flex;
    justify-content: center;
    margin: 3vmax 1vmax;
}
section div {
    display: flex;
    flex-direction: column;
}
.flash {
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
    text-align: center;
}
h1 {
    color: #377ba8;
    display: flex;
    font-size: 2.5vmax;
    margin: 0;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vmax;
}
form label {
    margin: 0.5em;
    margin-bottom: 0;
    font-weight: 600;
}
input, select, button {
    font-size: 1em;
}

form input, textarea, select {
    margin: 0.5em;
    padding: 0.4em;
}
textarea {
    height: 5em;
}
select {
    padding: 0.3em;
    padding-left: 0.0em;
    background-color: rgba(192, 192, 192, 0.698);
}
section form div {
    flex-direction: row;
    justify-content: space-between;
}
section form input[type=submit], 
section form input[type=button] {
    border: none;
    width: fit-content;
    padding: 0.5em 2.5em;
}
section form input[type=submit] {
    background-color: rgba(34, 57, 139, 0.788);
}
section form input[type=button] {
    background-color: rgba(199, 37, 37, 0.897);
}
input, select{
    border: 1px solid gray;
    border-radius: 5px;
}
input[type=submit], input[type=button] {
    font-weight: 600;
    padding: 0.5em;
}

table {
    margin-top: 1em;
    border-collapse: collapse;
}
th {
    font-size: 1.2em;
}
th, td {
    margin: 1em;
    padding: 0.5em 1em;
    border-bottom: 1px solid black;
    text-align: center;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 0.5em;
}
.heading input[type=button] {
    border-radius: 5px;
    margin-left: 1em;
}

.add-button {
    display: flex;
    justify-content: center;
}
.add-button input {
    background-color: #377ba8;
    color:rgb(255, 255, 255);
    border: none;
    padding-left: 1.5em;
    padding-right: 1.5em;

}

.container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    padding-top: 0;
    height: 100%;
    text-align: center;
}

.delete-button img {
    max-width: 1.2em;
}

.form-info-display {
    justify-content: flex-start;
}
.form-info-display strong, .form-info-display p {
    margin: 1em 0.5em;
    align-items: center;
}

#product-inventory {
    display: none;
    position: fixed;
    width: 15vmax;
    height: fit-content;
    padding: 0 0.5em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    top: 30vh;
    left: 42vw;
    z-index: 3;
    cursor: pointer;
}
#product-inventory td:nth-last-child(2), #product-inventory td:last-child {
    border-bottom: none;
}
#overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    top: 0;
    left: 0;
}