.add-receipt {
    display: grid;
    grid-template-columns: 15% 85%;
    padding-top: 1.5em;
}
.add-receipt strong {
    display: flex;
    align-items: center;
}
.add-receipt input {
    width: 100%;
}

.receipt {
    display: grid;
    grid-template-columns: 12% 15% 38% 12% 13% 10%;
    width: 21.6cm;
}
.receipt div {
    padding: 0.5em;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.receipt input {
    width: 100%;
    margin: 0;
    padding: 0.2em 0.5em;
    text-align: center;
}
.receipt-head {
    display: grid;
    grid-template-columns: 73% 27%;
    grid-column-start: 1;
    grid-column-end: span 6;
    padding: 0 !important;
    justify-content: space-between !important;
    border: 0 !important;
}
.receipt-head div {
   border: 0;
}

.receipt-logo {
    grid-column: 1;
    grid-column-end: span 2;
    justify-content: left !important;
}

.customer-info {
    display: grid;
    grid-template-columns: 18% 82%;
    padding: 0 !important;
    width: 100%;
}
.customer-info input {
    text-align: left;
}

.receipt-info {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.customer-info div, .receipt-info div {
    justify-content: left !important;
    padding: 0.1em 0.5em;
}
.product-head {
    font-weight: 600;
    background-color: rgba(51, 51, 51, 0.431);
}

.receipt-foot {
    display: flex;
    justify-content: space-between !important;
    grid-column-start: 1;
    grid-column-end: span 5;
}
.receipt-foot input[type=button] {
    background-color: rgb(76, 187, 76);
}
.receipt-foot p {
    text-align: center;
}