.user {
    background-color: rgba(172, 181, 192, 0.541);
    border-radius: 1vmax;
    padding: 2em 1.5em;
    margin-top: 1vmax;
    width: auto;
    font-size: 1.2vmax;
}
.user input[type=submit] {
    color: white;
    background-color: rgba(34, 57, 139, 0.788);
    margin-top: 1em;
    border: 0px;
    width: auto;
}
.user a {
    padding: 0.4em;
}
.user input[type=button] {
    color: white;
    width: 100%;
    margin: 0;
    border: 0px;
    background-color: rgba(199, 37, 37, 0.897);
}
.permissions-checkbox {
    display: grid;
    grid-template-columns: 10% 90%;
    text-align: left;
    margin: 1em;
}
.permissions-checkbox div {
    width: max-content;
    padding: 0.1em;
}
.permissions-checkbox .title {
    grid-column-start: 1;
    grid-column-end: span 2;
}
.permissions-checkbox input[type=checkbox] {
    margin: 0;
}

.change-password-link {
    justify-content: center;
}
.change-password-link a {
    font-size: 0.9em;
    text-decoration: underline;
}

.week-activities {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    border: 1px solid black;
    border-radius: 10px;
}
.week-activities div {
    padding: 1em;
    text-align: center;
    border-right: 1px solid black;
}
.weekday-head {
    border-right: none !important;
    border-bottom: 1px solid black;
    font-weight: 600;
}

.assign-activity {
    display: grid;
    grid-template-columns: max-content 80%;
    align-items: center;
}
.assign-activity input {
    width: 100%;
}

.user-profile-summary {
    margin-bottom: 2em;
}
.user-production-summary {
    flex-direction: row;
    justify-content: space-between;
}
.user-production-summary div {
    flex-direction: row;
}

.user-production {
    display: grid;
    grid-template-columns: auto auto;
}
.user-production div {
    padding: 0.5em;
    border-bottom: 1px solid white;
}

.user-activities:first-child {
    overflow: hidden;
    text-align: right !important;
}
.weekday {
    height: 100%;
    padding: 0 !important;
}
.weekday div {
    border-right: none !important;
    padding-bottom: 0;
}
.weekday div:last-child {
    padding-bottom: 1em;
}
