.admin {
    flex-direction: row;
}
.admin thead {
    text-align: left;
}
.users-heading {
    flex-direction: row;
}
.users-heading form {
    max-width: min-content;
    margin: 0 0 0 6em;
}
.admin div {
    margin-left: 2em;
}
