.form-info-display {
    justify-content: flex-start;
}
.form-info-display strong, .form-info-display p {
    margin: 1em 0.5em;
    align-items: center;
}

.product-inventory {
    padding: 0;
}
.product-inventory-button {
    margin: 0 auto;
}
.product-inventory-content {
    display: none;
    position: absolute;
    color: white;
    background-color: #333;
    border-radius: 10px;
    height: fit-content;
    padding: 0 0.5em;
}
.product-inventory-content td:nth-last-child(2), .product-inventory-content td:last-child {
    border-bottom: none;
}
.product-inventory-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    top: 0;
    left: 0;
    cursor: pointer;
}

#add-finished-product {
    display: None;
    flex-direction: column;
}
.product-update-buttons {
    display: grid;
    grid-template-columns: auto auto;
}
.product-update-buttons input[type=submit] {
    width: 100%;
}
.add-finished-product-button {
    background-color: rgba(184, 135, 11, 0.698) !important;
}
.finished-products {
    display: grid;
    grid-template-columns: auto auto auto;
}
.finished-products div{
    padding: 0.5em;
}
.head {
    border-bottom: 1px solid black;
    font-weight: 600;
}
