nav {
    display: flex;
    overflow: hidden;
    width: 100%;
    background-color: #333;
    justify-content: space-between;
    font-size: 1.1em;
}
nav a, .side-menu {
    display: flex;
    align-items: center;
    padding: 1em;
}
nav a:hover, nav .dropdown:hover {
    background-color: rgba(71, 71, 71, 0.616);
}

nav .search-bar {
    height: min-content;
    margin: auto;
    margin-right: 1em;
    font-size: 0.9em;
}
nav .search-bar input,
nav .search-bar button {
    border: none;
}
nav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
}
.right-side, .left-side {
    display: flex;
}
