.calendar, .calendar td {
    border-collapse: initial;
    border: 1px solid black;
    border-radius: 10px;
}
.calendar td {
    height: 22.5vmin;
    width: 22.5vmin;
}
.calendar th {
    padding: 2vmin 0.5vmin;
    border: none;
}
.calendar td {
    padding: 0;
    vertical-align: top;
}
.calendar td a {
    display: block;
    width: 100%;
    height: 100%;
}
.day-num, .day-info {
    margin: 0.5vmin;
}
.day-num {
    text-align: right;
}
.day-info {
    text-align: justify;
}

.calendar-selection {
    justify-content: space-between;
}
.events-dropdown, .calendar-selection {
    flex-direction: row;
    width: 100%;
}
.events-dropdown select {
    width: 100%;
}


