.form-info-display {
    justify-content: flex-start;
}
.form-info-display strong, .form-info-display p {
    margin: 1em 0.5em;
    align-items: center;
}

.product-inventory-content {
    display: none;
    position: static;
    height: fit-content;
    padding: 0 0.5em;
}
.product-inventory-content td:nth-last-child(2), .product-inventory-content td:last-child {
    border-bottom: none;
}
.product-inventory-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    top: 0;
    left: 0;
    cursor: pointer;
}