* {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 21.6cm;
    margin: auto;
    margin-bottom: 10vh;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr {
    display: flex;
}
td, th {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.flash {
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
    text-align: center;
}
strong {
    margin-right: 0.5em;
}
.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
}
input {
    width: 100%;
}
input[type=submit] {
    width: min-content;
    background-color: rgba(100, 148, 237, 0.616);
}
input[type=button] {
    background-color:rgba(110, 235, 110, 0.726);
}
input[type=button], input[type=submit] {
    border: none;
    border-radius: 5px;
    padding: 0.5em 3em;
    height: max-content;
}
table a {
    color: red;
}
thead {
    background-color: rgba(128, 128, 128, 0.637);
}
.logo {
    max-width: fit-content;
}
.customer td {
    justify-content: center;
}
.products td, th {
    border: 1px solid black;
}
.quantity {
    max-width: 10%;
}
.quantity input {
    text-align: center;
}
.code {
    max-width: 12%;
}
.description {
    justify-content: left;
    text-align: justify;
}
.unit {
    max-width: 7%;
}
.price {
    max-width: 7%;
}
.price input {
    text-align: center;
}
.total input {
    margin-right: 1em;
}
.total {
    max-width: 8%;
}
.delete-button {
    max-width: 3%;
    padding-bottom: 0;
}
.delete-button img {
    max-width: 1.2em;
}
.head td {
    display: flex;
    flex-direction: column;
}
.head td div {
    display: flex;
    flex-direction: row;
}
.receipt-info {
    max-width: 25%;
}
.receipt-info tr {
    justify-content: flex-end;
}
.receipt-info td {
    margin: 0;
    padding: 0;
    text-align: right;
}
