.side-menu {
    overflow: hidden;
    background-color: #333;
}
.side-menu-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 0.5em;
    flex-direction: column;
    color: white;
    background-color: #333;
    min-width: 10em;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.87);
    z-index: 2;
}
.side-menu-button {  
    border: none;
    outline: none;
    color: white;
    background-color: #333;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
}
.side-menu-content a, .links-dropdown-button {
    text-align: left;
    padding: 0.5em 1em;
}
.side-menu-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 1;
    top: 0;
    left: 0;
}
.links-dropdown-button {
    width: 100%;
    color: white;
    background-color: inherit;
    border: none;
}
.links-dropdown-content {
    display: none;
    position: static;
    color: white;
    background-color: rgba(56, 56, 56, 0.808);
}
.links-dropdown-content a {
    border: none;
    float: none;
    color: white;
    padding-left: 2em;
    text-decoration: none;
    display: block;
    text-align: left;
}
.links-dropdown-content a:hover {
    background-color: rgb(63, 62, 62);
}
.dropdown-submit {
    display: flex;
    justify-content: center;
}
.dropdown-submit input[type=submit] {
    background-color: silver;
    border: 1px solid black;
    margin: 0.5em;
    width: fit-content;
}
