* {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 100vw;
    background: white;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    width: 100%;
    padding: 0.5em 0;
    align-items: center;
    justify-content: center;
    background-color:rgba(192, 192, 192, 0.87)
}

nav {
    display: flex;
    width: 100%;
    background-color: #4189b9be;
    justify-content: center;
}
nav a {
    display: flex;
    align-items: center;
    padding: 1em;
    border-left: 1px solid rgba(255, 255, 255, 0.931);
    height: auto;
    color: rgb(255, 255, 255);
}
nav a:hover {
    background-color: #33729c9f;
}
nav a:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.931);
}

section {
    display: flex;
    justify-content: center;
    margin: 3vmax auto;
}
section div {
    display: flex;
    flex-direction: column;
}
.flash {
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
    text-align: center;
    
}
h1 {
    color: #377ba8;
    display: flex;
    margin: 0;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vmax;
}
form label {
    margin: 0.5em;
    margin-bottom: 0;
    font-size: 0.9em;
}
form input {
    margin: 0.5em;
    padding: 0.4em;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
}
input[type=submit], input[type=button] {
    font-weight: 600;
    padding: 0.5em;
}

th, td {
    margin: 1em;
    padding: 1em;
}

.search-bar {
    flex-direction: row;
}
.search-bar input {
    margin: 0;
    padding: 0.3em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}
.search-bar button{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: none;
    border-radius:  0px 5px 5px 0px;
}