.user-production-summary {
    flex-direction: row;
    justify-content: space-between;
}
.user-production-summary div {
    flex-direction: row;
}

.user-production {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 0.3em;
}
.user-production div {
    padding: 0.5em;
    justify-content: center;
}

.production-breakdown-button {
    margin-left: 0.5em;
}
.production-breakdown-button, .add-production-button {
    background-color: #333;
    padding: 0.3em 0.5em;
    color: white;
    border: none;
    border-radius: 10px;
}