.assign-activity {
    display: grid;
    grid-template-columns: max-content 80%;
    align-items: center;
}
.assign-activity input {
    width: 100%;
}

.day-activity {
    padding-top: 1em;
    text-align: left;
    margin: 0.3em;
}

.activity-status {
    margin-left: 0.6em;
    margin-bottom: 0.5em;
}