<button class="overlay-dropdown-button" onclick="displayOverlayDropdown(event)">
    Inventario
</button>
<div class="overlay-dropdown-content">
    <table>
        <thead>
            <th>
                Unidad
            </th>
            <th>
                Cantidad
            </th>
        </thead>
        {% for unit in product.inventory %}
        <tr>
            <td>
                {{ unit }}
            </td>
            <td>
                {{ product.inventory[unit] }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="overlay-dropdown-background" onclick="hideOverlayDropdown(event)">
</div>