{% for product in products %}
<tr>
    {% for head in product_heads %}
    <td>
        {% if head == 'code' %}
        <a href="{{ url_for('product.profile', id=product.id) }}">
            {{ product[head] }}
        </a>
        {% elif head == 'price' %}
        {{ format_price(product[head]) }}
        {% else %}
        {{ product[head] }}
        {% endif %}
    </td>
    {% endfor %}
    <td class="product-inventory">
        {% include 'product/inventory.html' %}
    </td>
</tr>
{% endfor %}