{% for product in products %}
<tr>
    {% for head in product_heads %}
    <td>
        {% if head == 'code' %}
        {% if warehouse and g.user.has_view_permissions("warehouse.update_product") or not warehouse %}
        <a 
        {% if warehouse %}
        href="{{ url_for('warehouse.update_product', id=product.id) }}"
        {% else %}
        href="{{ url_for('product.update', id=product.id) }}"
        {% endif %}
        >
            {{ product[head] }}
        </a>
        {% else %}
        {{ product[head] }}
        {% endif %}
        {% elif head == 'price' or head == "cost" %}
        {{ format_price(product[head]) }}
        {% else %}
        {{ product[head] }}
        {% endif %}
    </td>
    {% endfor %}
    {% if not warehouse %}
    <td>
        <button onclick="on()">Inventario</button>
        {% include 'product/inventory.html' %}
    </td>
    {% endif %}
</tr>
{% endfor %}