{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}
        {{ product.code }} de almacén {{ product.warehouse.name }}
        {% endblock %}
    </h1>
    <a href="{{ url_for('product.update', id=product.id) }}">
        <input type="button" value="Editar">
    </a>
{% endblock %}

{% block content %}
<div>
    <div class="product-profile-info">
        {% for head in product_heads %}
        <div>
            <strong>{{ product_heads[head] }}:</strong>  
        </div>
        <div>
            {% if head == "price" %}
            {{ format_price(product[head]) }}
            {% else %}
            {{ product[head] }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% include "product/add-finished-product.html" %}
    {% include "product/finished-products.html" %}
</div>
{% endblock %}