{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}
        {{ product.code }} de almacén {{ product.warehouse.name }}
        {% endblock %}
    </h1>
    <a href="{{ url_for('product.update', id=product.id) }}">
        <input type="button" value="Editar">
    </a>
{% endblock %}

{% block content %}
<div>
    <div class="product-profile-info">
        {% for head in product_heads %}
        <div>
            <strong>{{ product_heads[head] }}:</strong>  
        </div>
        <div>
            {{ product[head] }}
        </div>
        {% endfor %}
    </div>
    <form method="post">
        {% for head in finished_product_heads %}
        <label for="{{ head }}">{{ finished_product_heads[head] }}:</label>
        <input name="{{ head }}" id="{{ head }}"
            placeholder="Requerido"
            {% if head == "quantity" %}
            type="number"
            {% endif %}
            value="{{ request.form[head] }}">
        {% endfor %}
        <div>
            <input type="submit" value="Añadir Producto Terminado">
        </div>
    </form>
    {% include "product/finished-products.html" %}
</div>
{% endblock %}