{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Editar Producto{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for head in product_heads %}
    <label for="{{ head }}">{{ product_heads[head] }}:</label>
    <input name="{{ head }}" id="{{ head }}" value="{{ product[head] }}">
    {% endfor %}
    <input type="submit">
    <a href="{{ url_for('product.delete', id=product.id) }}">
        <input type="button" value="Eliminar" onclick="return confirm('¿Estas seguro?')">
    </a>
</form>
{% endblock %}